.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}
.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-bold {
  font-weight: bold;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Book', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #393939;
  background: #fff;
  min-width: 320px;
}
input,
button {
  outline: none;
}
img {
  max-width: 100%;
  min-height: 1px;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Boysen';
  src: url('../fonts/Boysen-Light.eot');
  src: url('../fonts/Boysen-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Boysen-Light.woff2') format('woff2'), url('../fonts/Boysen-Light.woff') format('woff'), url('../fonts/Boysen-Light.ttf') format('truetype'), url('../fonts/Boysen-Light.svg#Boysen-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
body.no-scroll {
  overflow: hidden;
}
#main {
  position: relative;
  padding-left: 345px;
  width: 100%;
  overflow: hidden;
}
.line-separator {
  background-color: #b7d8e5;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 345px;
  top: 0;
  z-index: 10;
}
.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  right: -21px;
  top: 10px;
}
.triangle-up {
  display: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  right: -21px;
  top: 10px;
}
@media screen and (max-width: 1200px) {
  #main {
    padding-left: 300px;
  }
  .line-separator {
    left: 300px;
  }
}
@media screen and (max-width: 768px) {
  #main {
    padding-left: 0;
  }
  .line-separator {
    display: none;
  }
  .triangle-down {
    border-width: 5px 5px 0 5px;
    right: -20px;
    top: 9px;
  }
  .triangle-up {
    border-width: 0 5px 5px 5px;
    right: -20px;
    top: 9px;
  }
}
h1,
.h1 {
  font-family: 'Boysen', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  text-align: right;
}
.h1__subtitle {
  font-family: 'Boysen', sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2.7px;
}
h2,
.h2 {
  font-family: 'Boysen', sans-serif;
  text-transform: uppercase;
  font-size: 52px;
  letter-spacing: 3.9px;
}
.h3 {
  font-family: 'Boysen', sans-serif;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 2px;
  margin-left: 5px;
}
.section__heading {
  padding-left: 84px;
  margin-bottom: 100px;
}
.section__content-subtitle {
  font-size: 18px;
  font-family: 'Gotham', sans-serif;
  letter-spacing: 1.7px;
  margin-bottom: 50px;
}
.section__content {
  letter-spacing: 2px;
  line-height: 1.7;
  margin-bottom: 40px;
}
@media screen and (max-width: 1500px) {
  h1,
  .h1 {
    font-size: 46px;
  }
  .h1__subtitle {
    font-size: 30px;
  }
  h2,
  .h2 {
    font-size: 50px;
  }
  h3,
  .h3 {
    font-size: 25px;
  }
  .section__content-subtitle {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1200px) {
  h1,
  .h1 {
    font-size: 45px;
    margin-bottom: 5px;
  }
  .h1__subtitle {
    font-size: 29px;
  }
  h2,
  .h2 {
    font-size: 45px;
  }
  h3,
  .h3 {
    font-size: 20px;
  }
  .section__content-subtitle {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .section__content {
    font-size: 15px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 992px) {
  h1,
  .h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .h1__subtitle {
    font-size: 20px;
  }
  h2,
  .h2 {
    font-size: 30px;
  }
  h3,
  .h3 {
    font-size: 15px;
  }
  .section__heading {
    margin-bottom: 50px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .h1__subtitle {
    font-size: 15px;
    letter-spacing: 3px;
  }
  h2,
  .h2 {
    font-size: 30px;
  }
  h3,
  .h3 {
    font-size: 15px;
  }
  .section__content-subtitle {
    font-size: 14px;
  }
  .section__content {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
.menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 345px;
  height: 100vh;
  border-bottom-right-radius: 20px;
  background-color: #6898ad;
  font-family: 'Boysen', sans-serif;
  z-index: 10;
}
.menu__btn {
  display: none;
}
.menu__inner {
  width: 100%;
  height: 100%;
}
.menu__logo {
  display: block;
  background: url("images/homepage/logo.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 258px;
  height: 121px;
  margin: 23px auto 58px 52px;
}
.navigation {
  max-height: 298px;
  max-width: 98%;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 44px;
  position: relative;
}
.navigation::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.5);
  width: 5px;
  position: absolute;
  top: 0;
  right: 20px;
}
.navigation::-webkit-scrollbar-button:vertical:decrement {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  right: -21px;
  top: 10px;
}
.navigation::-webkit-scrollbar-button:vertical:increment {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 5px 3px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  right: -21px;
  top: 10px;
}
.navigation::-webkit-scrollbar-track {
  border-radius: 3px;
  width: 8px;
  height: 96%;
  border: 1px solid #417b94 ;
}
.navigation::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #6898ad;
  border: 1px solid #417b94 ;
  width: 8px;
}
.navigation::-webkit-scrollbar-thumb:hover {
  border: 1px solid #5497b4;
}
.menu-list {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.menu-list__item {
  list-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.menu-list__item:first-child {
  margin-bottom: 20px;
}
.menu-list__item:nth-child(2) {
  margin-bottom: 20px;
}
.menu-list__link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.9px;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.menu-list__link:hover,
.menu-list__link:active,
.menu-list__link:focus {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 0px 6px rgba(0, 0, 0, 0.6);
}
.menu-list__dropdown-toggle {
  text-decoration: none;
  min-width: 120px;
}
.menu-list__dropdown-toggle.active .triangle-down {
  display: none;
}
.menu-list__dropdown-toggle.active .triangle-up {
  display: block;
}
.menu-list__dropdown {
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.menu-list__dropdown.menu-list__dropdown-open {
  opacity: 1;
  visibility: visible;
  display: block;
  margin: 15px 0;
}
.menu-list__dropdown-item {
  list-style: none;
  display: block;
  margin-bottom: 15px;
}
.menu-list__dropdown-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.menu-list__dropdown-link:hover,
.menu-list__dropdown-link:active,
.menu-list__dropdown-link:focus {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 0px 6px rgba(0, 0, 0, 0.6);
}
.menu__logo-bottom {
  display: block;
  background: #6898ad url("images/homepage/logo-green.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 278px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 10;
}
.menu-footer__links {
  display: none;
  max-width: 80%;
  margin: auto;
  text-align: center;
  background-color: #6898ad;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
}
.menu-footer__link {
  font-size: 16px;
  font-family: 'Boysen', sans-serif;
  text-transform: uppercase;
  color: #393939;
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.menu-footer__link:hover,
.menu-footer__link:focus,
.menu-footer__link:active {
  text-decoration: none;
  text-shadow: 2px 0px 6px rgba(0, 0, 0, 0.6);
}
.menu-footer__link:nth-of-type(1):after,
.menu-footer__link:nth-of-type(3):after {
  display: inline-block;
  content: "";
  height: 12px;
  width: 1px;
  background-color: #393939;
  opacity: 0.5;
  margin: 0 20px;
}
@media screen and (max-width: 1500px) {
  .menu__logo {
    margin-left: auto;
  }
}
@media screen and (max-width: 1200px) {
  .menu-wrapper {
    width: 300px;
  }
  .menu__logo {
    width: 221px;
    height: 148px;
    margin: 20px auto 100px;
  }
  .menu__logo-bottom {
    width: 260px;
    height: 115px;
  }
}
@media screen and (max-width: 768px) {
  .menu-wrapper {
    position: fixed;
    border-bottom-left-radius: 20px;
    height: auto;
    min-height: 100px;
    width: 100vw;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .menu-wrapper.menu-wrapper__open {
    position: fixed;
    height: 100vh;
  }
  .menu-wrapper.menu-wrapper__open .menu__inner {
    display: block;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding-top: 10px;
    position: relative;
  }
  .menu__logo {
    width: 115px;
    height: 90px;
    margin: 5px auto;
  }
  .menu__inner {
    display: none;
    -webkit-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    height: 89%;
  }
  .navigation {
    margin-top: 10px;
    margin-bottom: 80px;
  }
  .menu-list__item {
    margin-bottom: 15px;
  }
  .menu-list__item:first-child {
    margin-bottom: 15px;
  }
  .menu-list__item:nth-child(2) {
    margin-bottom: 15px;
  }
  .menu-list__link {
    font-size: 16px;
  }
  .menu-list__dropdown-link {
    font-size: 16px;
  }
  .menu__logo-bottom {
    display: none;
  }
  .menu-footer__links {
    display: block;
  }
  .menu__btn {
    display: block;
    position: fixed;
    top: 40px;
    right: 30px;
    color: #fff;
    z-index: 20;
  }
  .menu__btn span {
    display: block;
    position: relative;
    background-color: #fff;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .menu__btn.menu__btn-active span:nth-of-type(2) {
    -webkit-transform: translate(-200px, 0);
    -ms-transform: translate(-200px, 0);
    -o-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
    opacity: 0;
    visibility: hidden;
  }
  .menu__btn.menu__btn-active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translateY(10px);
    -ms-transform: rotate(45deg) translateY(10px);
    transform: rotate(45deg) translateY(10px);
  }
  .menu__btn.menu__btn-active span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg) translateY(-9px);
    -ms-transform: rotate(-45deg) translateY(-9px);
    transform: rotate(-45deg) translateY(-9px);
  }
}
@media screen and (max-height: 520px) {
  .navigation {
    max-height: 220px;
  }
}
@media screen and (min-height: 521px) and (max-height: 589px) {
  .menu__logo {
    margin: 20px auto 30px;
  }
  .navigation {
    max-height: 298px;
  }
  .menu-footer__links {
    bottom: 100px;
  }
}
@media screen and (min-height: 590px) and (max-height: 770px) {
  .menu__logo {
    margin: 20px auto 20px;
  }
  .navigation {
    max-height: 341px;
  }
  .menu-footer__links {
    bottom: 100px;
  }
}
@media screen and (min-height: 771px) {
  .navigation {
    max-height: 440px;
  }
}
@media screen and (min-height: 870px) {
  .navigation {
    max-height: 560px;
  }
}
.welcome {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("images/homepage/welcome-bg.jpg") no-repeat center;
  background-position-x: 11%;
  -webkit-background-size: cover;
  background-size: cover;
}
.welcome__text {
  position: absolute;
  top: 97px;
  right: 55px;
  color: #fff;
}
@media screen and (max-width: 1500px) {
  .welcome__text {
    top: 80px;
    right: 160px;
  }
}
@media screen and (max-width: 1200px) {
  .welcome__text {
    top: 40px;
    right: 40px;
  }
}
@media screen and (max-width: 992px) {
  .welcome {
    background-position-x: 21%;
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    margin-top: 82px;
  }
  .welcome__text {
    top: 20px;
    right: 20px;
  }
}
.about-us {
  padding-bottom: 225px;
}
.about-us .section__heading {
  color: #6898ad;
}
.about-us__img {
  background: url("images/homepage/circles.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 438px;
  height: 415px;
  margin-left: auto;
}
.about-us__content {
  padding: 82px 81px 10px 43px;
}
@media screen and (max-width: 1500px) {
  .about-us__content {
    padding: 62px 43px 10px 43px;
  }
  .about-us__img {
    width: 382px;
  }
}
@media screen and (max-width: 1200px) {
  .about-us {
    padding-bottom: 100px;
  }
  .about-us__img {
    margin-right: auto;
  }
}
@media screen and (max-width: 992px) {
  .about-us__content {
    padding: 62px 25px 10px 25px;
  }
}
@media screen and (max-width: 768px) {
  .about-us {
    padding-bottom: 50px;
  }
  .about-us__img {
    width: 300px;
    margin-right: 0;
    margin: auto;
  }
}
.view {
  background: url("images/homepage/panorama-bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 987px;
}
.view .section__heading {
  color: #fff;
}
.view__content .section__content {
  padding: 0 36px 0 206px;
}
.view__address {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2.8px;
  padding-left: 18px;
  margin-top: -5px;
}
@media screen and (max-width: 1500px) {
  .view__content .section__content {
    padding: 0 36px 0 69px;
  }
  .view__address {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .view {
    height: 800px;
    background-position-x: left;
  }
  .view__address {
    padding-left: 70px;
    font-size: 25px;
  }
  .view__content .section__content {
    padding: 0 40px 0 70px;
  }
}
@media screen and (max-width: 992px) {
  .view__address {
    font-size: 25px;
    padding-left: 25px;
  }
  .view__content .section__content {
    padding: 0 40px 0 25px;
  }
}
@media screen and (max-width: 768px) {
  .view__address {
    padding-left: 25px;
  }
  .view__content .section__content {
    padding: 0 40px 0 25px;
  }
}
.features {
  position: relative;
  padding-top: 170px;
}
.features .section__heading {
  color: #6898ad;
}
.features__item {
  position: relative;
}
.feature__item-design {
  min-height: 558px;
}
.feature-design__inner {
  padding: 13px 10px 10px 89px;
  max-width: 630px;
}
.feature__item-care {
  min-height: 453px;
  padding-top: 86px;
}
.features__img {
  position: absolute;
}
.features__img-1 {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 569px;
  height: 694px;
  left: 0;
  top: -195px;
}
.features__img-2 {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 640px;
  height: 723px;
  right: 68px;
  top: -341px;
}
.features__content-colored {
  height: 444px;
  max-width: 565px;
  min-width: 565px;
  background-color: #c8c5be;
  padding: 0 65px;
}
.feature__headroom__inner {
  max-width: 492px;
  padding-left: 70px;
}
@media screen and (max-width: 1880px) {
  .feature-design__inner {
    padding: 13px 10px 10px 158px;
  }
}
@media screen and (max-width: 1700px) {
  .features__img {
    opacity: 0.7;
    z-index: -1;
    width: 496px;
    height: 603px;
  }
  .features__img-2 {
    right: 36px;
    top: -255px;
    width: 574px;
    height: 673px;
  }
}
@media screen and (max-width: 1500px) {
  .features__img-1 {
    width: 407px;
    top: -255px;
  }
  .features__img-2 {
    width: 487px;
    height: 600px;
    top: -298px;
    right: 0;
  }
  .feature__item-care {
    padding-top: 0;
  }
  .feature__headroom__inner {
    padding-left: 0px;
    margin-top: 21px;
  }
}
@media screen and (max-width: 1200px) {
  .features {
    padding-top: 100px;
  }
  .features__img {
    opacity: 1;
    z-index: 1;
  }
  .features__img-1 {
    position: relative;
    left: 0;
    top: 0;
    margin-left: -15px;
  }
  .features__img-2 {
    position: relative;
    right: 0;
    top: 0;
    margin-right: -15px;
    margin-left: auto;
    width: 470px;
  }
  .feature__item .section__content-subtitle {
    padding-left: 40px;
  }
  .feature__item .section__content {
    padding-left: 40px;
  }
  .feature-design__inner {
    padding: 13px 0 0 40px;
  }
  .features__content-colored {
    margin-left: -15px;
    margin-bottom: 30px;
    padding: 0 40px;
    min-width: 300px;
  }
  .feature__headroom__inner {
    padding-left: 40px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 992px) {
  .feature-design__inner {
    padding: 13px 25px 0 0px;
  }
  .features__content-colored {
    padding: 0 25px 0 0;
  }
  .feature__headroom__inner {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .feature__item .section__content-subtitle {
    padding-left: 0px;
  }
  .feature__item .section__content {
    padding-left: 0px;
  }
  .features__content-colored {
    padding-left: 40px;
    max-width: 500px;
    margin-left: -15px;
  }
  .feature-design__inner {
    padding: 13px 40px;
  }
  .feature__headroom__inner {
    padding-left: 25px;
    margin-top: 30px;
  }
  .features__img-2 {
    height: 566px;
  }
}
.awards {
  background: url("images/homepage/awards-bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 365px;
}
.awards .section__heading {
  color: #6898ad;
  margin-bottom: 70px;
}
.awards__heading-wrapper {
  position: relative;
}
.awards__content {
  max-width: 853px;
  position: absolute;
  right: 40px;
  top: 54px;
}
.awards__list-title {
  font-size: 26px;
  letter-spacing: 2px;
  line-height: 1.4;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 80px;
  margin-left: 73px;
}
.awards__list-title span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 355px;
  top: -13px;
  font-size: 70px;
}
.awards__list {
  padding: 0 190px;
}
.awards__list-item {
  margin-bottom: 0px;
  min-height: 347px;
}
.awards__list-img {
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
.awards__list-img-1 {
  background: url("images/homepage/award-1.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 217px;
  height: 156px;
}
.awards__list-img-2 {
  background: url("images/homepage/award-2.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 172px;
  height: 135px;
  margin-bottom: 56px;
}
.awards__list-img-4 {
  background: url("images/homepage/award-4.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 122px;
  height: 175px;
}
.awards__list-img-5 {
  background: url("images/homepage/award-5.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 246px;
  height: 107px;
}
.awards__list-img-6 {
  background: url("images/homepage/award-6.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 117px;
  height: 117px;
}
.awards__list-img-7 {
  background: url("images/homepage/award-7.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 184px;
  height: 94px;
  margin-top: 12px;
  margin-bottom: 47px;
}
.awards__list-subtitle {
  font-size: 18px;
  letter-spacing: 1.8px;
  margin-bottom: 7px;
  font-family: 'Gotham', sans-serif;
  text-align: center;
}
.awards__list-content {
  letter-spacing: 1.8px;
  line-height: 1.7;
  text-align: center;
}
.awards__list-item-6 .awards__list-subtitle {
  line-height: 1.7;
  margin-top: -7px;
}
@media screen and (max-width: 1800px) {
  .awards__list {
    padding: 0 100px;
  }
  .awards__content {
    right: 0;
    max-width: 745px;
  }
}
@media screen and (max-width: 1650px) {
  .awards__content {
    max-width: 590px;
  }
  .awards__list-title {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1500px) {
  .awards__content {
    max-width: 80%;
    position: relative;
    padding-left: 105px;
    top: 0;
  }
  .awards__list {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1200px) {
  .awards .section__content {
    font-size: 15px;
    margin-bottom: 35px;
    padding-left: 60px;
  }
  .awards__list {
    padding: 0 25px;
  }
  .awards__list-title {
    margin-left: 0;
  }
  .awards__list-content {
    font-size: 17px;
  }
}
@media screen and (max-width: 992px) {
  .awards__list-item {
    margin-bottom: 40px;
  }
  .awards__list-content {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .awards .section__heading {
    padding-left: 25px;
  }
  .awards .section__content {
    padding: 0 40px;
    font-size: 14px;
    margin-bottom: 25px;
  }
  .awards__content {
    max-width: 95%;
  }
  .awards__list-title {
    font-size: 20px;
  }
  .awards__list-title span {
    right: 261px;
    font-size: 54px;
  }
  .awards__list-item {
    min-height: 286px;
  }
  .awards__list-subtitle {
    font-size: 14px;
  }
  .awards__list-content {
    font-size: 14px;
  }
  .awards__list-img-2 {
    width: 141px;
    height: 114px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .awards__list {
    padding: 0;
  }
  .awards__list-img-5 {
    width: 223px;
    height: 94px;
  }
  .awards__list-img-6 {
    width: 100px;
    height: 100px;
  }
  .awards__list-img-7 {
    width: 127px;
    height: 70px;
  }
}
#footer {
  height: 40px;
  background-color: #d5cec3;
  padding-left: 300px;
}
.footer__list {
  height: 100%;
  text-align: right;
  margin: 0 35px 0 0;
  padding: 0;
  line-height: 37px;
}
.footer__list-item {
  display: inline-block;
  list-style: none;
  position: relative;
}
.footer__list-item:after {
  display: inline-block;
  content: "";
  height: 10px;
  width: 1px;
  background-color: #393939;
  opacity: 0.5;
  margin: 0 18px;
}
.footer__list-item:last-child:after {
  display: none;
}
.footer__list-link {
  font-size: 16px;
  letter-spacing: 1.2px;
  font-family: 'Boysen', sans-serif;
  text-transform: uppercase;
  color: #393939;
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer__list-link:hover,
.footer__list-link:focus,
.footer__list-link:active {
  text-decoration: none;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
  color: #393939;
}
.footer__logo {
  display: none;
  background: url("images/homepage/logo-green.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 270px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 992px) {
  .footer__list {
    margin: 0 15px 0 0;
  }
  .footer__list-item:after {
    margin: 0 7px;
  }
  .footer__list-link {
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 768px) {
  #footer {
    padding-left: 0;
  }
}
