body {
  &.no-scroll {
    overflow: hidden;
  }
}

.page-content__wrapper {
  padding-bottom: 40px;
  position: relative;
  min-height: 100%;
}

#main {
  position: relative;
  padding-left: 270px;
  margin-bottom: -40px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  position: relative;
}

.line-separator {
  background-color: #b7d8e5;
  .size(7px, 100%);
  position: absolute;
  left: 270px;
  top: 0;
  z-index: 9;
}

.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  right: -21px;
  top: 10px;
}

.triangle-up {
  display: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  right: -21px;
  top: 10px;
}

.btn {
  display: inline-block;
  font-size: 12px;
  color: @textColor;
  text-decoration: none;
  .border-radius(90px);
  letter-spacing: 1.2px;
  padding: 1px 0;
  text-align: center;
  min-width: 154px;
  background-color: #d5cec3;
  .transition(0.3s all ease);
  &:hover,
  &:focus,
  &:active {
    color: @textColor;
    .box-shadow(0px 1px 5px 0px rgba(80, 91, 97, 0.73));
    .translate(1px, 1px);
  }
}

.btn__sectionplan {
  padding: 5px 0;
  min-width: 138px;
  font-size: 12px;
}

.arrow-down{
  top: 0;
  bottom: 0;
  margin: auto;
  background: url("@{rootUrl}location-page/arrow-down.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(26px, 31px);

}

.arrow-up{
  bottom: 51px;
  background: url("@{rootUrl}location-page/arrow-up.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(26px, 31px);
}

.arrow-left{
  background: url("@{rootUrl}location-page/arrow-right.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(26px, 31px);
  display: inline-block;
}


@media screen and (max-width: 1200px) {
  //#main {
  //  padding-left: 300px;
  //}

  //.line-separator {
  //  left: 300px;
  //}
}

@media screen and (max-width: 768px) {
  #main {
    padding-left: 0;
  }

  .line-separator {
    display: none;
  }

  .triangle-down {
    border-width: 5px 5px 0 5px;
    right: -20px;
    top: 9px;
  }

  .triangle-up {
    border-width: 0 5px 5px 5px;
    right: -20px;
    top: 9px;
  }
}