h1,.h1{
  font-family: @titleFont;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  text-align: right;
}

.h1__subtitle{
  font-family: @titleFont;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2.7px;
}

h2,.h2{
  font-family: @titleFont;
  text-transform: uppercase;
  font-size: 52px;
  color: @colorBlue;
  letter-spacing: 0.7px;
}

.h2__subtitle{
  font-family: @titleFont;
  text-transform: uppercase;
  font-size: 27px;
  color: @colorBlue;
  letter-spacing: 0.7px;
}


@media screen and (max-width: 1500px){
  h1,.h1{
    font-size: 46px;
  }

  .h1__subtitle{
    font-size: 30px;
  }

  h2,.h2{
    font-size: 50px;
  }

  .h2__subtitle{
    font-size: 25px
  }
}

@media screen and (max-width: 1200px){
  h1,.h1{
    font-size: 45px;
    margin-bottom: 5px;
  }

  .h1__subtitle{
    font-size: 29px;
  }

  h2,.h2{
    font-size: 45px;
  }

  .h2__subtitle {
    font-size: 20px
  }
}

@media screen and (max-width: 992px){
  h1,.h1{
    font-size: 30px;
    margin-bottom: 5px;
  }

  .h1__subtitle{
    font-size: 20px;
  }

  h2,.h2{
    font-size: 30px;
  }

  .h2__subtitle {
    font-size: 15px
  }
}

@media screen and (max-width: 768px){
  h1,.h1{
    font-size: 25px;
    margin-bottom: 5px;
  }

  .h1__subtitle{
    font-size: 15px;
    letter-spacing: 3px;
  }

  h2,.h2{
    font-size: 30px;
  }

  .h2__subtitle {
    font-size: 15px
  }
}