.contact__main-content{

}
.contact__bg{
  background: #d5cec3 url('@{rootUrl}contact-page/background.jpg')no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  //.size(100%; 100%);
  width: 100%;
  height: 100vh;
}

.contact-info__wrapper{
  background-color: rgba(255,255,255,0.85);
  .size(380px, 680px);
  padding: 114px 35px 40px 35px;
  position: absolute;
  top: 0;
  right: 56px;
  .display-flex();
  .flex-direction-col();
  .jc-flex-center();
  .ai-flex-center();
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .section__heading{
   .as-flex-start();
    margin-bottom: 58px;
    padding-left: 0;
  }
}

.contact-info{
  font-size: 12px;
  letter-spacing: 1.6px;
  height: 430px;
  padding-right: 10px;
}

.contact-info__row{
  margin-bottom: 30px;
  line-height: 2.1;
}

.contact-info__name{
  min-width: 102px;
  padding-right: 5px;
}

.contact-info__content{
}

.contact-info__phone{
  display: inline-block;
  color: @textColor;
  text-decoration: none;
  .transition(0.3s all ease);
  &:hover{
    text-decoration: none;
    color: @textColor;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 1200px) {
  .contact-info__wrapper {
    right: 25px;
  }
}

@media screen and (max-width: 992px) {
  .contact-info__wrapper{
    .section__heading {
    }
  }
  .contact-info{
  }
}

@media screen and (max-width: 768px) {
  .contact__bg{
    height: 50vh;
    min-height: 300px;
  }
  .contact-info__wrapper {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 50px 40px 50px;
    .ai-flex-start();
    .jc-flex-start();
    .section__heading {
      margin-bottom: 40px;
      padding-left: 0;
    }
  }
  .contact-info{
    height: auto;
  }
}

@media screen and (max-width: 420px){
  .contact-info__row{
    .flex-direction-col();
    margin-bottom: 30px;
  }
}


@media screen and (min-width: 992px) and (max-height: 740px){
  .contact__bg{
    height: 800px;
  }
}
