.management__main-content{
  background-color: #a2a7aa;
  padding: 97px 50px 100px 78px;
  color: #fff;
  min-height: 100vh;
}

.management-about{
  color: #fff;
  position: relative;
  max-width: 380px;
  //border: 1px solid red;
  .section__heading{
    padding-left: 0;
    margin-bottom: 59px;
  }
  .h3{
    position: absolute;
    top: -67px;
    left: -4px;
  }
}

.management-about__content{
  font-size: 16px;
  letter-spacing: 1.4px;
  line-height: 2;
}

.management-about__logo{
  background: transparent url("@{rootUrl}management-page/logo.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(124px, 129px);
  position: absolute;
  bottom: -299px;
  left: 0;
}

.management-list{
  //border: 1px solid green;
  margin-top: -6px;
  margin-left: -4px;
}

.management-list__item{
  //border: 1px solid yellow;
  max-width: 310px;
  margin: 0 18px;
  position: relative;
}

.managements-list__item-title-wrap{
  margin-bottom: 54px;
}

.management-list__item-num{
  font-family: @titleFont;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.management-list__item-title{
  font-family: @titleFont;
  font-size: 29px;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

.mangement-list__item-img{
  max-width: 100%;
  margin-bottom: 18px;
  height: 354px;
  img{
    height: 100%;
    width: 100%;
  }
}

.management-list__item-content{
  font-size: 12px;
  letter-spacing: 0.9px;
  line-height: 2;
  min-height: 145px;
  padding-bottom: 20px;
  margin-bottom: 33px;
  position: relative;
  span{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
  }

  .management-list__item-btn{

  }
}

@media screen and (max-width: 1920px){
  .management-list__item {
    max-width: 305px;
    margin: 0 0;
  }
}

@media screen and (max-width: 1800px){
  .management-list__item {
    max-width: 240px;
    margin: 0 0;
  }
  .mangement-list__item-img{
    height: auto;
  }
}

@media screen and (max-width: 1600px){
  .management-about {
    max-width: 30%;
    margin-bottom: 40px;
  }

  .management-about__logo{
    bottom: 173px;
    left: 100%;
    margin-left: 42px;
  }

  .management-list__item {
    width: 33.33%;
    max-width: 300px;
  }
}

@media screen and (max-width: 1400px){
  .management-about__logo {
    left: 79%;
    margin-left: 0;
  }
  .management-list__item {
    max-width: 238px;
  }
}

@media screen and (max-width: 1200px) {
  .management__main-content{
    padding: 150px 50px 100px 78px;
  }
  .management-about {
    width: 100%;
    max-width: 100%;
  }
  .management-about__logo {
    left: 100%;
    margin-left: -120px;
    bottom: 0;
    top: -26px;
  }
  .management-list__item{
    min-width: 277px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 992px){
  .management-about__logo {
    width: 105px;
    height: 107px;
    top: -36px;
  }
}

@media screen and (max-width: 768px){
  .management__main-content{
    padding: 200px 30px 50px 30px;
  }
  .management-about {
    max-width: 100%;
    margin-bottom: 70px;
  }
  .management-about__logo{
    left: 100%;
    bottom: 0;
    width: 90px;
    height: 100px;
    margin-left: -100px;
    top: -25px;
  }
  .management-about__content{
    font-size: 14px;
  }
  .management-list__item {
    max-width: 100%;
    .display-flex();
    .flex-direction-col();
    margin-bottom: 50px;
    padding-bottom: 70px;
  }

  .managements-list__item-title-wrap {
    position: absolute;
    left: 18px;
    top: -28px;
    z-index: 1;
  }
  .management-list__item-num{
    font-size: 42px;
  }
  .management-list__item-title{
    font-size: 23px;
  }
  .mangement-list__item-img {
    height: auto;
    max-width: 362px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    opacity: 0.9;
  }
  .management-list__item-content{
    max-width: 70%;
    min-height: 100px;
  }
}

@media screen and (max-width: 520px){
  .management-about__logo {
    left: 100%;
    bottom: 0;
    width: 68px;
    height: 59px;
    top: 10px;
    margin-left: -36px;
  }
  .management-list__item-content {
    max-width: 93%;
  }
  .mangement-list__item-img {
    max-width: 244px;
    opacity: 0.8;
  }
}