.sectionplan__main-content{

}

.scheme__wrapper{
  position: relative;
  width: 100%;
  height: 1175px;
}

.scheme__desc{
  position: absolute;
  right: 55px;
  top: 50%;
  max-width: 461px;
  z-index: 1;
  margin-top: -37px;
  .translate(0, -50%);
  .section__heading{
    padding-left: 0;
    margin-bottom: 69px;
  }
}

.scheme__desc-content{
  font-size: 16px;
  letter-spacing: 1.35px;
  line-height: 2.1;
}

.scheme__inner{
  position: relative;
  .square(100%);
}

.scheme__inner-bg{
  position: absolute;
  top: 0;
  left: 0;
  .size(100%, 100%);
  background: url("@{rootUrl}sectionplan-page/scheme.png")no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  background-position-x: 13% ;
  z-index: 0;
}

.scheme__inner-item{
  position: absolute;
  left: 611px;
}

.scheme__inner-title{
  font-family: @titleFont;
  font-size: 42px;
  letter-spacing: 3.5px;
  color: #fff;
  margin-bottom: 16px;
}

.scheme__inner-comment{
  font-size: 16px;
  letter-spacing: 0.8px;
}

.scheme__inner-btn-wrap{
  margin-top: 33px;
}

.btn__sectionplan{
  padding: 5px 0;
  min-width: 138px;
  font-size: 13px;
}

.scheme__inner-food{
  top: 83px;
}

.scheme__inner-wellness{
  top: 478px;
}

.scheme__inner-retail{
  top: 874px;
}

.scheme__inner-park{
  top: 1014px;
  .btn__sectionplan{
    padding: 5px 23px;
  }
}


@media screen and (max-width: 1800px){
  .scheme__desc {
    right: 29px;
    max-width: 395px;
  }
  .scheme__inner-item {
    left: 555px;
  }
}

@media screen and (max-width: 1660px){
  .scheme__desc {
    position: relative;
    top: 0;
    right: 0;
    .translate(0,0);
    margin: 0;
    padding: 30px 20px 30px 84px;
    max-width: 100%;
    background-color: #afcfdc;
  }
  .scheme__desc-content{
    max-width: 471px;
  }
  .scheme__inner-item{
    left: 600px;
  }
}

@media screen and (max-width: 1330px){
  .scheme__inner-item{
    left: 516px;
  }
  .scheme__inner-title{
    font-size: 37px;
  }
}

@media screen and (max-width: 1200px){
  .scheme__inner-title{
    font-size: 35px;
  }
  .scheme__inner-comment{
    display: none;
  }
  .scheme__inner-item {
    left: 461px;
  }
  .scheme__inner-food {
    top: 44px;
  }
  .scheme__inner-wellness {
    top: 413px;
  }
}